src
test
tsconfig.json
tsconfig.module.json
.travis.yml
.github
.prettierignore
.vscode
build/docs
**/*.test.*
coverage
*.log
.editorconfig
.eslintignore
.eslintrc.js
jest.config.js
CHANGELOG.md
.idea
.circleci
